<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="link-button"><%= link_to "Create Cohort", new_user_cohort_path(user), class: "link-button-a" %></li>
  <li role="presentation" class="link-button" style="display: none"><%= link_to "Search Students", "#", class: "link-button-a", hidden: true %></li>
</ul>