<h3 class="cohort-link"><%= link_to "<< Back", user_cohort_path(@user, @cohort) %></h3>
<h2 class="hdr">Update Cohort</h2>

<%= render partial: 'form', locals: {user: @user, cohort: @cohort, url: user_cohort_path(@user, @cohort), button_name: "Update Cohort"} %>