<div class="row">
  <div class="col-md-2">
    <ul>
      <li><%= link_to "Create Cohort", new_user_cohort_path(@user) %></li>
    </ul>
  </div>
  <div class="col-md-10">
    <h1><%= @user.full_name %>'s Cohorts</h1>
    <br/>
    <ul>
      <% @user.cohorts.each do |cohort| %>
        <li><%= link_to cohort.name, "#" %></li>
      <% end %>
    </ul>
  </div>
</div>