<h3 class="student-show-link"><%= link_to "<< Back", url_for(:back) %></h3>
<h2 class="hdr">Update Cohort</h2>

<%= render partial: 'cohorts/form', locals: {user: @cohort.instructor, cohort: @cohort, url: admin_cohort_path(@cohort), button_name: "Update Cohort"} %>