// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-show-text-small {
  font-size: 12px;
}

.student-show-link {
  font-size: 16px;
}

body > div > h3.student-show-link > a {
  text-decoration: none;
}