<nav class="navbar navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "Flatiron Cohorts", root_path, class: "navbar-brand" %>
  <ul class="nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Sign Up", "#", class: "dropdown-item" %>
        <%= link_to "Log In", "#", class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</nav>